.configFields {
    margin-right: -10px;
}

.configFields h3 {
    margin-bottom: 5px;
}

.search { 
    float: right; 
    margin-right: 10px;
}

.searchIcon{
    position: absolute;
    right: 15px;
    color: #444;
    margin-top: 5px;
    pointer-events: none;
}