.memberField {
  width: 100%;
  margin: 5px 0;
  padding: 5px 0 5px 10px;
  border-right: 1px solid transparent;
}

.memberField button { 
  width: 100px;
}

.active{
  background-color: #777;
}

.highlight {
  color: #d5e65c;
  font-weight: bold; 
}

.root {
  width: calc(100% - 10px);
}

.memberField input { 
  display: inline-block;
  margin-right: 10px;
  width: calc(33% - 6px);
}

.memberField input[type=checkbox] { 
    margin: 0;
}

.memberField input:last-child { 
  margin-right: 0;
}

.inline { 
  display: inline-block;
}

.name{
  cursor: pointer;
}

.toggleExpandButton{
  float: right;
  font-size: 26px;
  width: 40px;
}


.removeButton{
  float: right;
}

.removeButton button {
  background-color: #c33535;
  color: #fff;
}

.removeButton button:hover {
  background-color: #e01313;
}

.childrenLabel {
  display: inline-block;
  padding-top: 20px;
}

.addChildButton {
  float: right; 
  clear: right; 
  padding-top: 10px;
}

.addChildButton button {
  margin: 5px 0;
  background-color: #81a13f;
  color: #fff;
}

.addChildButton button:hover {
  background-color: #98bd4b;
}