.memberField {
  width: 100%;
  margin: 5px 0;
  padding: 5px 0 5px 10px;
}

.memberField.hover{
  background-color: #777;
}

.root {
  width: calc(100% - 10px);
}

.memberField input { 
  display: inline-block;
  margin-right: 10px;
  width: calc(33% - 6px);
}

.memberField input[type=checkbox] { 
    margin: 0;
}

.memberField input:last-child { 
  margin-right: 0;
}

.inline { 
  display: inline-block;
}
