:root { 
  --panelWidth: 500px;
  --backgroundColor: #444;
  --buttonWidth: 50px;
}

.panel {
  background-color: var(--backgroundColor);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0px;
  width: var(--panelWidth);
  transition: margin 0.2s;
  color: #fff;
}

.panel.closed { 
  margin-right: calc(var(--panelWidth) * -1);
}

.panelButtons {
  position: absolute;
  width: var(--buttonWidth);
  margin-left: calc(var(--buttonWidth) * -1);
  margin-top: 10px;
  background-color: var(--backgroundColor);
  font-size: 32px;
  font-weight: bold;
  border-radius: 10px 0 0 10px;
  padding: 1px;
}

.panelButton {
  margin: 5px;
  cursor: pointer;
  user-select: none;
  height: calc(var(--buttonWidth) - 10px);
  width: calc(var(--buttonWidth) - 10px);
  padding-top: 5px;
  text-align: center;
}

.panelButton:hover {
  opacity: 0.7;
}

.content{
  margin-right: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contentScroll {
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  right: -10px;
  padding-right: 10px;
}

.configFieldsWrapper {
  position: relative; 
  height: 100%;
  margin-right: -20px;
}