.rootNode {
  position: absolute;
  left: 50%;
  bottom: -420px;
  --width: 305px;
  width: var(--width);
  margin-left: calc(var(--width) / -2);
  font-size: 1.7em;
}

.rootNode .member {
  float: left;
  text-align: right;
}

.rootNode .spouse {
  float: right;
}