.tree {
  position: absolute;
  background-image: url(../images/tree2.png);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.treeNodes{
  position: absolute;
}