.tree {
  background-image: url(../images/svg/grass-tree.svg);
  background-size: auto 615px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.treeNodes{
  position: absolute;
}