.childNode{
  text-align: center;
  white-space: nowrap;
  --width: 300px;
  --height: 50px;
  width: var(--width);
  margin-left: calc(var(--width) / -2);
  height: var(--height);
  margin-top: calc(var(--height) / -2);
}

.name {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 1.2em;
}

.date {
  font-family: 'Shadows Into Light', cursive;
}

.member, .spouse{
  display: inline-block;
}

.leaves {
  height: 25px;
  display: block;
  margin: auto;
}

.leaves.top,
.leaves.bottom {
  position: absolute;
  margin-left: 70px;
}

.left {
  transform: rotate(180deg);
}

.right {
  transform: rotate(0deg);
}

.left, .right{
}
