.rootNode {
  position: absolute;
  left: 50%;
  bottom: -330px;
  --width: 100%;
  width: var(--width);
  margin-left: calc(var(--width) / -2);
  font-size: 2em;
}

.rootNode .member {
  text-align: right; 
  position: absolute;
  right: calc(var(--width) / 2 + 50px);
}

.rootNode .spouse {
  text-align: left;
  position: absolute;
  left: calc(var(--width) / 2 + 50px);
}