.treeNode{
  position: absolute;
  width: 0;
  height: 0;
}

:global(.debugMode) .treeNode > * { 
  border: 1px dashed #0000ff !important;
}

:global(.debugMode) .treeNode > * > * { 
  border: 1px dashed #ff00ff !important;
}


.left {
  transform: rotate(180deg);
}